

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 30px;
  background: linear-gradient(135deg, #000000, #1f1f1f);
  color: white;
  font-family: 'Segoe UI', sans-serif;  position: relative;
  z-index: 1;
  overflow: hidden;
}

.title {
  position: absolute;
  top: 125px;
  font-size: 64px;
  font-weight: bold;
  color: #d3adff;
  margin-bottom: 30px;
  text-shadow: 0 0 12px #a874ff, 0 0 24px #b37bff, 0 0 48px #c68cff;
  animation: pulseText 1s infinite alternate;
}


.customButton {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 18px;
  padding: 16px 30px;
  font-size: 20px;
  margin: 12px 0;
  font-weight: bold;
  cursor: pointer;
  width: 280px;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  background: #2a1b3d;
  color: #d3adff;
  box-shadow: 0 0 10px rgba(180, 120, 255, 0.4);
  box-shadow: 0 0 16px #a874ff, 0 0 30px #8c52ff88;
}

.customButton:hover {
  transform: scale(1.05);
  background: #3a2650;
  box-shadow: 0 0 15px rgba(200, 140, 255, 0.6);
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  filter: brightness(0) invert(1);
}

.glowRing {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  animation: rotateGlow 10s linear infinite;
  z-index: -1;
  filter: blur(80px);
  pointer-events: none; /* ป้องกันการคลิกหรือส่งผลกับ layout */
}


@keyframes pulseText {
  0% {
    text-shadow: 0 0 8px #a874ff, 0 0 20px #b37bff;
  }
  100% {
    text-shadow: 0 0 24px #b37bff, 0 0 40px #c68cff;
  }
}


@keyframes rotateGlow {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}
